.loader {
    border: 5px solid silver; /* Light grey */
    border-top: 5px solid #383838; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin .5s linear infinite;
}
.loader-lg {
	border: 5px solid silver; /* Light grey */
    border-top: 5px solid #383838; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .5s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}