<section class='row'>
  <section class='col-md-3'></section>
  <section class='col-md-6 center-container'>
    <h4>Login form</h4>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
    </div>
    <br/>
    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
    </div>
  </section>
  <section class='col-md-3'></section>
</section>